<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gorest">
	<listeners>
		<listener class-name="api.utiliies.ExtentReportManager"></listener>
	</listeners>
  <test thread-count="5" name="GorestTest">
    <classes>
     <!-- <class name="api.test.DDTUserTests"/>-->
      <class name="api.test.UserTests"/>
    </classes>
  </test> <!-- GorestTest -->
</suite> <!-- Gorest -->
